# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.UIURescueSquad.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\jesus\OneDrive\Documentos\Coding\Plugins-EXILED\UIURescueSquad-EXILED2\UIURescueSquad\.idea\.idea.UIURescueSquad\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
